<!-- <h1>Hello world</h1> -->

<!-- to load components use this tag -->
<!-- <hinv-rooms></hinv-rooms>

<hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
    <h1>this is from ng-content</h1>
</hinv-container> -->

<!-- <div #name> -->
<!-- # is the template reference  -->
<!-- </div> -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">hello user</div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
        
    <div *ngSwitchDefault>No authorization</div>
</div> -->
<!-- <hinv-rooms></hinv-rooms> is reference to another html page -->

<!-- to dynamically load components -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->
<a routerLink="employee">emp</a>
<a routerLink="rooms">rooms</a>
<router-outlet></router-outlet>